.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;

    a {
        text-decoration: none;
        color: var(--secondary-color);

        &:hover {
            color: #0e7a0e;
        }
    }

    .button-container {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }

    .button.primary {
        background-color: black;
        color: #fff;
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #45ce45;
        }
    }

    .car-image {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        position: relative;

        .background-car {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            border-radius: 50%;
            background: rgb(45, 171, 196);
            background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(90, 189, 247) 29%, rgba(29, 255, 70, 1) 85%);
            opacity: 0.5;
            filter: blur(50px);
            z-index: -1;
            transition: filter 0.3s ease;
        }

        img {
            width: 50%;
            height: auto;
            object-fit: cover;
            z-index: 1;
        }
    }
}
